<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0 d-flex align-items-center p-2">
        <div class="col-md-4">
            <img src="assets/images/burgers/burger-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body ">
                <h5 class="card-title fs-3">Burger Royal</h5>
                <p class="card-text fs-4"><small class="text-muted">6000 FCFA</small></p>
            </div>
        </div>
    </div>
</div>