<!-- 
modal fade
-->

<div class="">

    <div class="container d-flex flex-column align-items-center bg-white p-3 my-3">

        <span *ngIf="true" class="fs-4   bg-warning  text-center text-white fw-bold px-5 rounded-5">Détail Burger</span>
        <div class="p-3 d-flex flex-row " style="min-height: 700px;">
            <div class="  w-50 d-flex flex-column align-items-center">
                <p class=" mb-5 w-75 p-3 border">
                    <img src="assets/images/burgers/burger-1.jpg" class="img-responsive card-img border border-5 border-warning" alt="" srcset="">
                </p>

                <span class="fs-1 fw-bold  bg-warning text-white px-5 rounded-5 mb-3">TOTAL</span>
                <span class="fs-1 fw-bold text-black">{{produit.prix}} FCFA</span>


            </div>
            <div class="ms-3 w-50 h-100 border-start border-5 border-warning d-flex flex-column align-items-center p-3 overflow-auto ">
                <span class="fs-2 fw-bold  bg-warning text-white px-5 rounded-5 mb-3">Burger</span>


                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0 d-flex align-items-center p-2">
                        <div class="col-md-4">
                            <img src="assets/images/burgers/burger-1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body bg">
                                <h5 class="card-title text-dark fs-3">Burger Royal</h5>
                                <p class="card-text fs-4"><small class="text-muted">6000 FCFA</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="fs-2 fw-bold  bg-warning text-white px-5 rounded-5 mb-3">Complements</span>
                <button class="btn  bg-warning text-white fw-1 ">Ajouter un boisson</button>


            </div>

        </div>


    </div>

</div>