.right-side {
    overflow-y: auto;
    overflow-x: hidden;
}

.cursor {
    cursor: pointer;
}

.addPanier:hover {
    background-color: #f7f7f7;
}

.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin: auto;
}