<div class="content-wrapper  m-3 p-5 bg-black bg-opacity-50 ">
    <section class="content bg-danger p-3">
        <div class="error-page">
            <h2 class="headline text-warning">404</h2>
            <div class="error-content">
                <h3 class="text-warning"><i class="fas fa-exclamation-triangle "></i> Oops! Page not found.</h3>
                <p class="text-white">
                    We could not find the page you were looking for. Meanwhile, you may <a [routerLink]="['']" class="link-dark">return to index</a>.
                </p>
            </div>
        </div>
    </section>
    <div class="container">
        <img src="assets/images/error_404.svg" alt="" class="img-responsive">
    </div>
</div>