<div class="card rounded-4">
    <h3 class="card-header text-black d-flex align-items-center justify-content-between px-4 fs-1">
        <span class=" fw-bold ">{{menu.prix}} FCFA</span>
        <a routerLink="commander,['d']">
            <i class="bi bi-cart4 "></i>
        </a>
    </h3>
    <div class="card-body p-2 border ">
        <img src="{{menu.image}}" alt="burger" class="card-img w-100">
    </div>

    <div class="card-footer text-black lead ">
        <h2 class=" fw-bold  fs-1">{{menu.nom}}</h2>
        <p class="">
            Lorem ipsum dolor sit amet consectetur, adipisicing
        </p>
    </div>
</div>