<div class="landing position-relative d-flex justify-content-center p-4  w-100  pt-5" style="height: 800px; width: 100% ">

    <h1 class="call text-white text-capitalize text-center fw-bold display-1 position-relative  p-0 w-100 animate__animated animate__heartBeat animate__delay">
        BRAZIL BURGER LE MEILLEUR BURGER DE TOUS LES BURGERS
    </h1>
    <!-- <p class="ombre position-absolute top-0 end-0 start-0 bottom-0 "></p> -->


    <h1 class="call text-white text-capitalize  text-center fw-bold lead position-absolute bottom-0 text-opacity-25  p-0 w-100 animate__animated animate__heartBeat animate__delay ">
        <marquee behavior="" direction="" class="p-5   mb-0 display-1">
            un menu idéal et un burger royal pour votre bonheur
        </marquee>
    </h1>
</div>