.card {
    max-width: 500px;
    max-height: 500px;
}

.card-header {
    background: #d9d9d9;
}

.card-body {
    background: #e4b610;
    border: 4px solid #d9d9d9 !important;
    border-bottom: none !important;
    border-top: none !important;
    cursor: pointer;
}

.card-footer {
    background: #d9d9d9;
}

.img-burger {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}