<div class=" row mt-5 p-3 text-white  bckground" style="min-height:700px; height:700px;">
    <div class="row">
        <section class="col col-sm-6 col-md-6 col-lg-6  p-3 h-100">
            <div class="row  g-3  p-1 ">
                <div class="card border border-5 border-white p-3" style="width:95%; max-height:300px;  height:300px;" style="background: none;">
                    <div class="row  d-flex justify-content-center ">
                        <div class="col-md-8 d-flex flex-column align-items-center justify-content-between  p-2 ">
                            <p class="d-flex align-items-center  ">
                                <img src="assets/images/logo.png" class="img-fluid img-responsive w-50" alt="...">
                                <span class="lead fs-4">Burger 1</span>
                            </p>
                            <p class="d-flex justify-content-center align-items-center">
                                <i class="bi bi-trash fs-5"></i>
                                <small>Supprimer</small>
                            </p>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-between">

                            <h5 class="card-title fw-bold">Quantité</h5>
                            <div class="card-footer d-flex flex-column justify-content-between align-content-center">
                                <form action="" class="w-50">
                                    <input type="number" name="" id="">
                                </form>
                                <div class="d-flex justify-content-between w-100">
                                    <small class="btn btn-warning btn">
                                        <i class="bi bi-plus-lg"></i>
                                    </small>

                                    <small class="btn btn-warning btn">
                                        <i class="bi bi-plus-lg"></i>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </section>

        <section class="col col-sm-6 col-md-6 col-lg-6  p-2 h-100 border-start border-5 border-white ">test</section>
    </div>
</div>